.welcome{
    background-image: url("IMAGES/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    width: 100%;
}

.about{
    text-align: center;
}

.services{
    background-image: url("IMAGES/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

h3{
    text-align: center;
}
card{
    padding: 20px;
    width: 100%;
}

#items{
    text-align: center;
}
.img-container {
    float: left;
    width: 33.33%;
    padding: 10%;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  h4{
      text-align: center;
      font-size: 2vh;
      font-weight: bolder;
  }

  .sec2{
      margin-top: 10%;
  }

  #contact{
      background-image: url("IMAGES/c_image.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }

  .none{
      display: none;
  }

  #size{
    height: 30vh;
    width: 50%;
    margin-top: 25px;
    opacity: 0.3;
    }
    
    #size3{
       opacity: 0.5;
    }
    placeholder{
       color: white;
    }